.bash_*
.bashrc
.clicerts/
.config/complete.d/
.forward
.gitconfig
.inputrc
.kshrc
.landscape/
.lesshst
.motd_shown
.profile
.python_history
.ssh/
.sudo_as_admin_successful
.vim*
.wget-hsts
bashy-*
desktop
